.navbar {
  width: 100vw;
  height: 15vh;
  background: lightgray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.logo {
  display: flex;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
.navItemsContainer {
  display: flex;
  align-items: center;
}
.navItem {
  padding: 0 30px;
}
